@media screen and (min-width: 740px) {
  /* banner start */
  .banner_button {
    font-size: 20px;
    width: 650px;
    height: 80px;
  }
  .banner_button_area {
    margin-top: -40px;
  }
  /* banner end */
}
@media screen and (min-width: 771px) and (max-width: 1025px) {
  /* header start */
  header .header__wrapper .logo__one {
    display: inline-block;
    margin-left: 100px;
  }
  header .header__wrapper .logo__two {
    display: inline-block;
    margin-left: 20px;
  }
  header .seminer__list {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 20px;
    font-weight: 900;
    line-height: 29px;
    text-align: center;
    z-index: 1;
  }

  header .seminer__list a {
    height: 96px;
    width: 300px;
  }
  /* header end */

  /* banner start */
  .benefit {
    position: absolute;
    height: 140px;
    width: 160px;
    right: 22px;
    top: 109px;
  }
  .benefit-text {
    top: 60%;
  }
  /* banner end */

  /* seminar start */
  .title {
    font-size: 35px;
    line-height: 40px;
    letter-spacing: 1px;
  }
  .subtitle h5 {
    font-size: 15px;
    line-height: 32px;
  }
}

@media screen and (min-width: 500px) and (max-width: 770px) {
  /* banner start */
  .benefit {
    position: absolute;
    height: 140px;
    width: 160px;
    right: 40px;
    top: 110px;
  }
  .b1 {
    left: 190px;
    bottom: 10px;
  }
  .b2 {
    left: 56px;
  }
  /* banner end */

  /* seminar start */
  .title {
    font-size: 27px;
    line-height: 40px;
    letter-spacing: 1px;
  }
  .grey-circle {
    margin-left: 110px;
  }
  .img1 {
    margin: 4px 0px 0px 42px;
  }
  .img2 {
    margin: 12px 0px 0px 57px;
  }
  .img3 {
    margin: 12px 0px 0px 20px;
  }
  .img4 {
    margin: 1px 0px 0px 38px;
  }
  .subtitle {
    margin-top: 70px;
    margin-left: 40px;
  }
  .subtitle h5 {
    font-size: 20px;
    line-height: 20px;
  }
  /* seminar end */
}

@media screen and (max-width: 426px) {
  /* header start */
  header .header__wrapper {
    height: 70px;
    display: flex;
    align-items: center;
  }
  header .header__wrapper .logo__one {
    display: inline-block;
    margin-left: 10px;
  }
  header .header__wrapper .logo__one img {
    height: 30px;
    width: 110px;
    border-radius: 0px;
  }

  header .header__wrapper .logo__two {
    display: inline-block;
    margin-left: 5px;
  }

  header .header__wrapper .logo__two img {
    height: 30px;
    width: 27px;
    border-radius: 0px;
  }

  header .seminer__list {
    font-size: 16px;
    top: 0;
    left: 175px;
    line-height: 20px;
  }

  header .seminer__list a {
    padding: 10% 4% 10% 4%;
    height: 82px;
    width: 192px;
  }
  /* header end */

  /* banner start */
  .banner {
    height: 561px;
  }
  .benefit-text small {
    font-size: 10px;
  }

  .benefit-text h3 {
    font-size: 30px;
    line-height: 26px;
  }
  .benefit {
    height: 88px;
    width: 106px;
    position: absolute;
    right: 10px;
    top: 92px;
  }

  .b1 {
    left: 105px;
    width: 179px;
    height: 96px;
  }
  .b2 {
    left: 15px;
    width: 149px;
    height: 96px;
  }
  .b3 {
    width: 158px;
    height: 96px;
    right: 8px;
  }
  .banner_button_area {
    margin-top: -30px;
  }
  .banner_button {
    font-size: 16px;
    width: 279px;
    height: 60px;
  }
  .card p {
    padding-top: 5px;
    font-size: 18px;
  }
  .card p span {
    font-size: 12px;
  }
  /* banner end */

  /* seminar start */
  .seminar-mobile {
    margin-left: 0;
  }
  .small-head {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 1.12px;
  }
  .title {
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 1.5px;
  }
  .grey-circle {
    height: 121px;
    width: 121px;
    margin-left: 2px;
  }
  .img1 {
    height: 88px;
    width: 56px;
    margin: 4px 0px 0px 20px;
  }
  .img2 {
    height: 80px;
    width: 39px;
    margin: 12px 0px 0px 30px;
  }
  .img3 {
    height: 76px;
    width: 81px;
    margin: 12px 0px 0px 9px;
  }
  .img4 {
    height: 90px;
    width: 59px;
    margin: 1px 0px 0px 18px;
  }
  .subtitle {
    margin-top: 40px;
    margin-left: 5px;
  }

  .subtitle h5 {
    font-size: 14px;
    line-height: 15px;
  }
  /* seminar end */
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  /* header start */
  header .header__wrapper {
    height: 60px;
  }
  header .header__wrapper .logo__one {
    display: inline-block;
    margin-left: 10px;
  }
  header .header__wrapper .logo__one img {
    height: 30px;
    width: 100px;
    border-radius: 0px;
  }

  header .header__wrapper .logo__two {
    display: inline-block;
    margin-left: 5px;
  }

  header .header__wrapper .logo__two img {
    height: 30px;
    width: 27px;
    border-radius: 0px;
  }

  header .seminer__list {
    font-size: 14px;
    top: 0;
    left: 164px;
  }

  header .seminer__list a {
    padding: 10% 4% 10% 4%;
    height: 72px;
    width: 150px;
  }
  /* header end */

  /* banner start */
  .benefit-text small {
    font-size: 8px;
  }
  .benefit-text h3 {
    font-size: 20px;
    line-height: 15px;
  }
  .benefit {
    height: 80px;
    width: 93px;
    position: absolute;
    right: 5px;
    top: 77px;
  }
  .b1 {
    left: 65px;
    width: 165px;
    height: 96px;
  }
  .b2 {
    width: 133px;
    left: 0;
  }
  .b3 {
    width: 140px;
    right: 3px;
  }
  /* banner end */

  /* seminar start */
  .title {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.5px;
  }
  .grey-circle {
    height: 101px;
    width: 101px;
    margin-left: 0;
  }
  .img1 {
    height: 68px;
    width: 36px;
    margin: 6px 0px 0px 20px;
  }
  .img2 {
    height: 60px;
    width: 25px;
    margin: 12px 0px 0px 26px;
  }
  .img3 {
    height: 56px;
    width: 61px;
    margin: 12px 0px 0px 9px;
  }
  .img4 {
    height: 70px;
    width: 39px;
    margin: 1px 0px 0px 18px;
  }
  .subtitle {
    margin-top: 40px;
  }

  .subtitle h5 {
    font-size: 11px;
    line-height: 14px;
  }
  /* seminar end */
}
